article {
  font-family: Times New Roman;
  line-height: 1.5em;
  font-size: 1em;
  margin: .5in 1.5in;
}

h4 {
  justify-content: center;
  font-weight: bold;
}

p {
    text-indent: 50px;
}

img {
  height:40%;
  width:40%;
}
