
body {
  background-image: url(./pics/bg.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
}

a {
  color: #ffffff;
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 3px 3px 2px #474747;
}

span {
  color: #ffffff;
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 3px 3px 2px #474747;
}

a:hover {
  color: #ffcc00;
/*color: #9b7617;
 color: #939393;*/
}

.nav {
  padding: 10px;
}

.logo {
  padding: 20px;
}

.logo:hover{
filter:brightness(0.5) sepia(1) hue-rotate(349deg) saturate(1000%) brightness(210.2%);
}

.menu {
  float:right;
  padding: 100px;
  word-spacing: 100px;
  font-size: 2em;
  text-decoration: none;
}

.thumbnail1 {
  float:left;
  padding: 40px;
}

.thumbnail2 {
  float:right;
  padding: 40px;
}

.thumbnail3 {
  float:left;
  padding: 40px;
}

.thumbnail4 {
  float:right;
  padding: 40px;
}

.thumbnail5 {
  float:left;
  padding: 40px;
}

.thumbnail6 {
  float:right;
  padding: 40px;
}

footer {
  clear:left;
}

.footer-links {
  float:left;
  padding: 20px;
  word-spacing: 50px;
}

.name {
  float:right;
  padding: 20px;
  word-spacing: 3px;
}

/*ABOUT ME PAGE*/

h1 {
  color: #ffcc00;
  font-family: 'Fredoka One', Arial3;
  letter-spacing: 2px;
  margin-left: 300px;
  margin-right: auto;
}

.about-section {
  margin-left: 300px;
  margin-right: auto;
}

.about p {
  color: #ffffff;
  font-family: Helvetica;
  float: left;
  width: 30%;
  padding: 20px;
  margin-right: 30px;
}

.sweater {
  float:left;
  height: 60%;
  width: 60%;
  margin-bottom: 30px;
}

.resume {
align: center;
margin: 30px, 300px;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #ffffff;
    color: #ffffff;
    text-align: center;
    clear:left;
    width: 600px;

}

hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}

/* CONTACT PAGE */

.contact-me {
  margin-left: 100px;
  margin-right: auto;
}

.contact-form p {
  color: #ffffff;
  font-family: Helvetica;
  float: left;
  width: 30%;
  padding: 20px;
  margin-left: 300px;
  margin-top: 20px;
  display:inline-block;
  line-height: 30px;
}


input {
  height: 20px;
  width: 400px;
  padding: 5px;
  margin-top: 10px;
  white-space: normal;
  margin-bottom: 10px;
}

input[type="text"]:focus {
  border-color: #ffcc00;
  color: #000;
}

textarea:focus {
  border-color: #ffcc00;
  color: #000;
}

.input-message {
  height: 300px;
  width: 400px;
  white-space: normal;
  rows: 15;
  padding: 5px;
  margin-top: 10px;
  resize: none;
}

.submit {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  clear:left;
  float:left;
  margin-left: 475px;
  margin-bottom: 50px;
}

.submit:hover {
  background: #ffcc00;
  background-image: -webkit-linear-gradient(top, #ffcc00, #ffcc99);
  background-image: -moz-linear-gradient(top, #ffcc00, #ffcc99);
  background-image: -ms-linear-gradient(top, #ffcc00, #ffcc99);
  background-image: -o-linear-gradient(top, #ffcc00, #ffcc99);
  background-image: linear-gradient(to bottom, #ffcc00, #ffcc99);
  text-decoration: none;
}

.lastfm, .twitter, .tumblr, .linkedin {
  height: 100px;
  width: 100px;
  margin-left: 170px;
  margin-right: auto;
  margin-bottom: 30px;
}

.lastfm:hover, .twitter:hover, .tumblr:hover, .linkedin:hover {
  filter:brightness(0.5) sepia(1) hue-rotate(349deg) saturate(1000%) brightness(177.2%);
}
